@media (max-width:1200px){
    .right,.left{
        flex:3;
    }
    h1{
        text-align: center;
    }
}

@media (max-width:756px){
    .wrapper{
        flex-direction:column-reverse;
        height: 900px;
    }
    .left,.right{
        height: 300px;
        width:100%;
    }
    .log-in{
        margin-top: -60px;
        height: 400px;
    }
    .create-account{
        margin-top: -2px;
    }
    .or{
        padding-bottom: 10px;
    }
    h3{
        padding-top: 7px;
    }
    footer{
        background-color:rgb(41, 40, 40);
    }
}